
*{
    margin: 0;
}

body{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: gold;
}

h2 {
    margin: 50px;
    text-align: center;
    font-size: 36px;
}

#characters {
    padding: 60px;}
    
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
}

.card {
  background: #171717;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-bottom: 10px;
  color: gold;
}
